<body>
    <div class="container mainContainer roundBorder">
        <div class="dateHeader row">
            <div class="dateRight col">
                <div id="dateDayNumber">{{date | date:'dd'}}</div>
                <div id="dateMonth&Year">
                    <span id="dateMonth">{{date | date:'MMM'}}</span>
                    <span id="dateYear">{{date | date:'YYYY'}}</span>
                </div>
            </div>
            <div class="dateLeft"></div>
                <span id="dateDayName">{{date | date:'EEEE'}}</span>
        </div>
        <form name="FormRegistro" [formGroup]="FormRegistro">
            <input type="text" name="taskText" autocomplete="off" class="roundBorder form-control" formControlName="Nombre" placeholder="Nueva tarea..." id="task">
            <button type="submit" class="btn btn-info addTaskButton" [disabled]="!nombreTarea">+</button>
            <button type="button" class="orderButton btn btn-warning roundBorder">Ordenar</button>
        </form>
        <div id="taskContainer">
                <ul>
                    <li *ngFor="let tarea of tareas" class="task roundBorder row">
                        <!-- <input ngModel = "tarea.terminada" (change)="cambiarEstadoTarea()" type="checkbox"> -->
                        <div *ngIf="tarea.Terminada == false">{{tarea.Nombre}}</div>
                    <!-- <a (click)="eliminarTarea(indice)" class="enlace-eliminar">&times;</a> -->
                    </li>
                </ul>
        </div>
    </div>
</body>
