@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 15px;
}

.calculator{

    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 0px;
    /* border: 3px solid black; */
    border-radius: 30px;
    box-shadow: 8px 3px 1px 1px pink;
}


.calculator-display{

    padding: 25px 15px;
    width: 100%;
    height: 200px;
    text-align: right;
    overflow-x: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:#E9AAB2;
    color: white;
    font-size: xx-large;
    border: 3px solid black;
    padding: 0px;
}


.calculator-keypad{
    display: flex;
    width: 100%;
}

.keypad-numbers{

    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-radius: 30px;
    border: 3px solid black;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
}

.keypad-button {
    width: 25%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: #F6F6F6;
}

.keypad-button:hover {
    
    background-color: #A5A5A5;
    opacity: 0.65;
    transition: opacity 0.35s, background-color 0.35s;
}

.keypad-button.large{
    width: 50%;
}

.keypad-button.operator{

    background-color: #FD3690;
}

.keypad-button.special{

    background-color: #A5A5A5;
}




.keypad-button.number{
    color: black;
}



.border-bottom-left-button{

    border-bottom-left-radius: 30px;
}

.border-bottom-right-button{

    border-bottom-right-radius: 30px;
}

