<body>
    <h1>Calculadora</h1>
    <div id="calculadoraBg">
    <form id="calculator">
        <input type="text" id="display" value="" autocomplete="off" readonly>

        <input type="button" value="7" id="ola">
        <input type="button" value="8">
        <input type="button" value="9">
        <input type="button" value="+">
        <br>
        <input type="button" value="4">
        <input type="button" value="5">
        <input type="button" value="6">
        <input type="button" value="-">
        <br>
        <input type="button" value="1">
        <input type="button" value="2">
        <input type="button" value="3">
        <input type="button" value="X">
        <br>
        <input type="button" value="0">
        <input type="button" value="C">
        <input type="button" value="=">
        <input type="button" value="/">
    </form>
</div>

</body>