<body>
    <h1>Calculadora</h1>
    <div class="container">
        <div class="calculator">
            <input type="text" class="calculator-display" value="{{result}}" readonly disabled>
            <div class="calculator-keypad"></div>
                <div class="keypad-numbers">

                    <div class="keypad-button special large" (click)="addToExpression('AC')">AC</div>
                    <div class="keypad-button special" (click)="addToExpression('CE')">
                        <i class="fa-solid fa-delete-left"></i>                        
                    </div>
                    <div class="keypad-button operator" (click)="addToExpression('/')">/</div>
                    
                    <div class="keypad-button number" (click)="addToExpression('7')">7</div>
                    <div class="keypad-button number" (click)="addToExpression('8')">8</div>
                    <div class="keypad-button number" (click)="addToExpression('9')">9</div>
                    <div class="keypad-button operator" (click)="addToExpression('*')">X</div>

                    <div class="keypad-button number" (click)="addToExpression('4')">4</div>
                    <div class="keypad-button number" (click)="addToExpression('5')">5</div>
                    <div class="keypad-button number" (click)="addToExpression('6')">6</div>
                    <div class="keypad-button operator" (click)="addToExpression('-')">-</div>

                    <div class="keypad-button number" (click)="addToExpression('1')">1</div>
                    <div class="keypad-button number" (click)="addToExpression('2')">2</div>
                    <div class="keypad-button number" (click)="addToExpression('3')">3</div>
                    <div class="keypad-button operator" (click)="addToExpression('+')">+</div>

                    <div class="keypad-button number large" style="border-bottom-left-radius: 10px;" (click)="addToExpression('0')">0</div>
                    <div class="keypad-button number" (click)="addToExpression"(click)="addToExpression('.')">.</div>
                    <div class="keypad-button operator"  style="border-bottom-right-radius: 10px;" (click)="addToExpression('=')">=</div>

                </div>
        </div>
    </div>
</body>