#logo{
    margin-left: 10px;
    margin-bottom: -20px;
    font-size: x-large;
}

.nav-item{
    margin-left: 5px;
}

.small{
    font-size: small;
    text-align: right;
}

.nav-link.btn{

    color: black;
}

.nav-link.btn:hover{

    color: rgb(250, 250, 250)
}